# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Go
*.exe
*.test
*.out

# Compiled binaries
*.o
*.a
*.so
*.dylib
